@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #000;
    color: #fff;

}

.information-column {
    text-align: center;
    padding: 40px;
}

.information-column hr {
    border: none;
    border-bottom: 1px solid #008000;
    margin-top: 18px;

}

.information-column img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #008000;
}

.contact-description h3 {
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 0 40px;
}

.contact-description ul {
    list-style-type: none;
    padding: 0 40px;

}

.contact-description li {
    text-align: left;
    margin-bottom: 11px;
}

.contact-description a {
    text-decoration: none;
    color: #fff;
}

.contact-description i {
    color: #008000;
    margin-right: 14px;
}

.education-description {
    margin-top: 32px;
    padding: 0 40px;
}

.education-description ul {
    list-style-type: none;
}

.education-description p {
    color: #008000;
    margin-top: 8px;
}

.language-description {
    padding: 40px;

}

.language-description ul {
    list-style-type: none;

}

.language-description .percent {
    height: 6px;
    background-color: #008000;
    margin-top: 5px;
    width: 205px;
}

.language-description .percent div {
    height: 6px;
    background-color: #32cd32;

}

.language-description .percent.english div {
    width: 10%
}

.experiences-column {
    padding: 40px;
    background-color: #fff;
    color: #000;
}

.experiences-column h2 {
    margin-bottom: 15px;
}

.experiences-column section {
    margin-bottom: 15px;
}

.experiences-column .experience {
    margin-bottom: 14px;
}

.experiences-column a {
    text-decoration: underline;
    color: #000;
}

.experiences-column .last-date {
    text-align: right;
}


@media (min-width: 992px) {
    .container {
        display: flex;
    }

    .experiences-column .experience {
        display: flex;
    }

    .experience-date {
        width: 300px;
    }  
    
}